<a href="https://colab.research.google.com/github/LumaLynai/Ola-Mundo/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 32 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 54.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=bb0d7d623e24ca264fc47aa45b151265a6f79611d36f4033f11613d1f3ae8b4c
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [7]:
import pandas as pd 
import psycopg2

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.window import *
from pyspark.sql.types import *
from pyspark import SparkConf
import pyspark.sql.functions as F 
import pyspark.sql.window as w

# Indicadores regulamentares qualidade
# 5G

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/arquivos/indicadores_regulamentares_qualidade.csv',sep=";")

In [ ]:
df5g = pd.read_csv('/content/drive/MyDrive/arquivos/BASE_5G.csv',sep=";")

In [ ]:
pd.set_option('display.max_columns',24)

In [ ]:
df.head(2)

In [ ]:
pd.unique(df["Área de Cálculo do Indicador"])

In [ ]:
df.count()

Serviço                         966680
Sigla do Serviço                966680
Tipo de Outorga                 966680
Empresa                         966680
Razão Social                    966680
CNPJ                            966680
UF                              966680
Área de Cálculo do Indicador    966680
Indicador                       966680
Período de Coleta               966680
Meta do Indicador               966680
Mês/Ano                         966680
Ano                             966680
Grupo do Indicador              966680
Resultados                      966680
Descumpriu                      966680
Cumpriu                         966680
NO                              966680
NI                              966680
Total                           966680
Normativo                       966680
dtype: int64

In [14]:
spark = (SparkSession.builder
                      .master('local')
                      .appName('ativSolo')
                      .config('spark.ui.port','4050')
                      .config('spark.jars','https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                      .getOrCreate()
                      )

In [ ]:
df_spark=(spark.read.format('csv')
                    .option('delimiter',';')
                    .option('header','true')
                    .load('/content/drive/MyDrive/arquivos/indicadores_regulamentares_qualidade.csv')
    
)

2017, 2012, 2013, 2014, 2015, 2018, 2016, 2019, 2020

In [ ]:
df_spark = df_spark.filter(df_spark.Ano != 2017)

In [ ]:
df_spark = df_spark.filter(df_spark.Ano != 2016)

In [ ]:
df_spark = df_spark.filter(df_spark.Ano != 2015)

In [ ]:
df_spark = df_spark.filter(df_spark.Ano != 2014)

In [ ]:
df_spark = df_spark.filter(df_spark.Ano != 2013)

In [ ]:
df_spark = df_spark.filter(df_spark.Ano != 2012)

In [ ]:
df_spark.filter(F.col('UF')=='-').show()

In [ ]:
df_spark.count()

In [ ]:
df_spark.show(2)

+----------------+----------------+---------------+-------+--------------------+--------------+---+----------------------------+---------+-----------------+--------------------+-------+----+------------------+----------+----------+-------+---+---+-----+---------+
|         Serviço|Sigla do Serviço|Tipo de Outorga|Empresa|        Razão Social|          CNPJ| UF|Área de Cálculo do Indicador|Indicador|Período de Coleta|   Meta do Indicador|Mês/Ano| Ano|Grupo do Indicador|Resultados|Descumpriu|Cumpriu| NO| NI|Total|Normativo|
+----------------+----------------+---------------+-------+--------------------+--------------+---+----------------------------+---------+-----------------+--------------------+-------+----+------------------+----------+----------+-------+---+---+-----+---------+
|Banda Larga Fixa|             SCM|    Autorização|    SKY|SKY SERVICOS DE B...|00497373000110| PB|               Área da UF PB|     SCM7|              PMT|80% (até out13) 9...|      5|2018|              Rede|    98,01%|         0|      1|  0|  0|    1|RGQ - SCM|
|Banda Larga Fixa|             SCM|    Autorização|    SKY|SKY SERVICOS DE B...|00497373000110| PI|               Área da UF PI|     SCM7|              PMT|80% (até out13) 9...|      5|2018|              Rede|    92,93%|         1|      0|  0|  0|    1|RGQ - SCM|
+----------------+----------------+---------------+-------+--------------------+--------------+---+----------------------------+---------+-----------------+--------------------+-------+----+------------------+----------+----------+-------+---+---+-----+---------+
only showing top 2 rows

In [ ]:
df_pd=df_spark.toPandas()

In [ ]:
df_pd.head(1)

,Serviço,Sigla do Serviço,Tipo de Outorga,Empresa,Razão Social,CNPJ,UF,Área de Cálculo do Indicador,Indicador,Período de Coleta,Meta do Indicador,Mês/Ano,Ano,Grupo do Indicador,Resultados,Descumpriu,Cumpriu,NO,NI,Total,Normativo
0,Banda Larga Fixa,SCM,Autorização,SKY,SKY SERVICOS DE BANDA LARGA LTDA.,00497373000110,PB,Área da UF PB,SCM7,PMT,80% (até out13) 90% (até out14) 95% (a partir ...,5,2018,Rede,"98,01%",0,1,0,0,1,RGQ - SCM

Drop 
* cnpj
* Área de Cálculo do Indicador
*

In [ ]:
df_pd.groupby(['Razão Social','CNPJ']).count()

In [ ]:
pd.unique(df_pd["Grupo do Indicador"])

In [ ]:
df_pd.to_csv("aquivo.csv")

# Velocidade Contratada

In [10]:
dfvelocidade = pd.read_csv('/content/drive/MyDrive/arquivos/Velocidade_Contratada_SCM.csv',sep=";")

In [11]:
pd.set_option('display.max_columns',34)

In [ ]:
pd.unique(dfvelocidade['razao_social'])

**Unique**
* Ano == [2020., 2019., 2018., 2017.,   nan]
* Mês == ([12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.,  1., nan]
* Razão social == tem nan
* CNPJ == tem nan 
* velocidade contratada == tem ...
* uf == tem nan 
* municipio == tem nam e ...
* tipo == ['INTERNET', 'NÃO INTERNET', nan]
* municipio_uf == tem nan e ...

In [27]:
dfvelocidade[dfvelocidade.isnull().any(axis=1)]

,Ano,Mês,razao_social,cnpj,velocidade_contratada_mbps,uf,municipio,codigo_ibge,acessos,tipo,municipio_uf
33313,2020.0,12.0,OI MOVEL S.A.,05.423.963/0001-11,NaN,MA,SAO LUIS,2111300.0,1.0,INTERNET,São Luís - MA
33325,2020.0,12.0,OI MOVEL S.A.,05.423.963/0001-11,NaN,MG,BELO HORIZONTE,3106200.0,1.0,INTERNET,Belo Horizonte - MG
35601,2020.0,12.0,OI MOVEL S.A.,05.423.963/0001-11,NaN,RO,PORTO VELHO,1100205.0,3.0,INTERNET,Porto Velho - RO
105980,2020.0,12.0,Sercomtel S.A. Telcomunicações,01.371.416/0001-89,"0,128",PR,Tamarana,4126678.0,NaN,NÃO INTERNET,Tamarana - PR
105981,2020.0,12.0,Sercomtel S.A. Telcomunicações,01.371.416/0001-89,"0,256",PR,Tamarana,4126678.0,NaN,NÃO INTERNET,Tamarana - PR
...,...,...,...,...,...,...,...,...,...,...,...
2358336,2019.0,5.0,Sercomtel S.A. Telcomunicações,01.371.416/0001-89,100,PR,Tamarana,4126678.0,NaN,NÃO INTERNET,Tamarana - PR
2479290,2019.0,4.0,Sercomtel S.A. Telcomunicações,01.371.416/0001-89,400,PR,Londrina,4113700.0,NaN,NÃO INTERNET,Londrina - PR
3429752,2018.0,8.0,cabo servicos de telecomunicacoes ltda,02.952.192/0001-61,200,RN,PARNAMIRIM,2403251.0,NaN,INTERNET,Parnamirim - RN
5285332,2017.0,5.0,Sercomtel S.A. Participações,04.459.311/0001-74,"0,128",PR,IBIPORÃ,4109807.0,NaN,NÃO INTERNET,Ibiporã - PR
5789371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfvelocidade.head(2)

## Spark

In [15]:
dfbanda_spark=(spark.read.format('csv')
                    .option('delimiter',';')
                    .option('header','true')
                    .load('/content/drive/MyDrive/arquivos/Velocidade_Contratada_SCM.csv')
    
)

In [26]:
dfbanda_spark.filter(F.col('acessos')=='NaN').show()

+---+---+------------+----+--------------------------+---+---------+-----------+-------+----+------------+
|Ano|Mês|razao_social|cnpj|velocidade_contratada_mbps| uf|municipio|codigo_ibge|acessos|tipo|municipio_uf|
+---+---+------------+----+--------------------------+---+---------+-----------+-------+----+------------+
+---+---+------------+----+--------------------------+---+---------+-----------+-------+----+------------+

# Acessos Banda Larga

In [59]:
dfbanda = pd.read_csv('/content/drive/MyDrive/arquivos/Acessos_Banda_Larga_Fixa_2021 (3).csv',sep=";")

In [60]:
pd.set_option('display.max_columns',24)

In [ ]:
dfbanda.head(1)

,Ano,Mês,Grupo Econômico,Empresa,CNPJ,Porte da Prestadora,UF,Município,Código IBGE Município,Faixa de Velocidade,Tecnologia,Meio de Acesso,Tipo de Pessoa,Acessos
0,2021,10,TELECOM AMERICAS,CLARO,40432544000147,Grande Porte,ES,Vitória,3205309,> 34Mbps,FTTH,Fibra,Pessoa Jurídica,1

In [69]:
pd.unique(dfbanda['Acessos'])

array([    1,    58,    11, ...,  7242, 15703,  7128])

In [71]:
dfbanda.isnull().count()

Ano                      4767901
Mês                      4767901
Grupo Econômico          4767901
Empresa                  4767901
CNPJ                     4767901
Porte da Prestadora      4767901
UF                       4767901
Município                4767901
Código IBGE Município    4767901
Faixa de Velocidade      4767901
Tecnologia               4767901
Meio de Acesso           4767901
Tipo de Pessoa           4767901
Acessos                  4767901
dtype: int64

In [70]:
dfbanda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4767901 entries, 0 to 4767900
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Ano                    int64
 1   Mês                    int64
 2   Grupo Econômico        object
 3   Empresa                object
 4   CNPJ                   int64
 5   Porte da Prestadora    object
 6   UF                     object
 7   Município              object
 8   Código IBGE Município  int64
 9   Faixa de Velocidade    object
 10  Tecnologia             object
 11  Meio de Acesso         object
 12  Tipo de Pessoa         object
 13  Acessos                int64
dtypes: int64(5), object(9)
memory usage: 509.3+ MB

**unique**
* Ano == 2021 
* Mês == [10,  9,  8,  7,  6,  5,  4,  3,  2,  1]
* Grupo Econômico == 'TELECOM AMERICAS', 'OUTROS', 'SERCOMTEL/COPEL/HORIZONS','TELECOM ITALIA', 'OI', 'ALGAR (CTBC TELECOM)', 'TELEFÔNICA','CABO', 'BT', 'DATORA', 'SKY/AT&T', 'NOSSATV','PREFEITURA DE LONDRINA/COPEL']
* Empresa	== 'CLARO', 'GGNET TELECOMUNICAÇÕES LTDA EPP', 'UD TECNOLOGIA S.A.',..., 'SATELLITENET & TECNOLOGIA - EIRELI', 'WIID INTERNET LTDA','GTN TELECOM INTERNET LTDA - ME'
* CNPJ == tem ...
* Porte da Prestadora	== ['Grande Porte', 'Pequeno Porte']
* UF == ['ES', 'SC', 'SP', 'PR', 'RS', 'BA', 'RN', 'GO', 'PI', 'AL', 'DF','PB', 'PE', 'MA', 'RJ', 'MT', 'TO', 'MG', 'SE', 'CE', 'RO', 'PA','RR', 'AM', 'MS', 'AP', 'AC']
* Municipio == ['Vitória', 'Fraiburgo', 'São Paulo', ..., 'Passabém','São Patrício', 'Oliveira de Fátima']
* ['> 34Mbps', '12Mbps a 34Mbps', '2Mbps a 12Mbps', '512kbps a 2Mbps','0Kbps a 512Kbps']
* Tecnologia == ['FTTH', 'ETHERNET', 'Wi-Fi', 'FTTB', 'HDSL', 'FR', 'ADSL1', 'DWDM','ADSL2', 'NR', 'HFC', 'VDSL', 'SDH', 'MMDS', 'FWA', 'WIMAX','Cable Modem', 'PLC', 'GSM', 'LTE', 'TDMA', 'WCDMA', 'OFDMA/TDD','EDGE', 'DTH', 'HSDPA', 'ATM', 'VSAT', 'CDMA IS 95', 'PDH', 'GPRS','Indeterminado', 'HSPA'] 
* Meio de acesso == ['Fibra', 'Rádio', 'Cabo Metálico', 'Satélite', 'Cabo Coaxial','Indeterminado']
* Tipo de pessoa == ['Pessoa Jurídica', 'Pessoa Física', 'Não Informado'] 
* acessos == [    1,    58,    11, ...,  7242, 15703,  7128]

# Meu municipio cobertura

In [ ]:
dfmeucobertura = pd.read_csv('/content/drive/MyDrive/arquivos/Meu_Municipio_Cobertura.csv',sep=";")

In [ ]:
pd.set_option('display.max_columns',24)

In [ ]:
dfmeucobertura.head(1)

,Operadora,Tecnologia Cobertura,Moradores Cobertos,Domicílios Cobertos,Área km2 Coberta,Moradores Município,Domicílios Município,Área Município km2,Ano,Código IBGE,Município,UF,Nome UF,Região,Código Nacional
0,LIGUE,2G,0,0,0,6885.0,2174.0,"369,86154618853",2021.0,4118709,Paulo Frontin - PR,PR,Paraná,Sul,42

In [ ]:
pd.unique(dfmeucobertura['Código Nacional'])

**Unique**
* Operadora == ok
* Tecnologia Cobertura==['2G', '3G+4G', '3G', '4G', 'Todas']
* Moradores Cobertos == tem ... 
* Domicílios Cobertos == tem ...
* Área km2 Coberta == tem ...
* Moradores Município == tem ... e nan 
* Domicílios Município == tem ... e nan 
* Área Município km2 == tem ...
* Ano == [2021.,   nan]
* Município == tem ...
* UF == ok 
* Nome UF == ok 
* Região == ['Sul', 'Sudeste', 'Nordeste', 'Norte', 'Centro-oeste']

# acesso a cobertura

In [ ]:
dfcobertura= pd.read_csv('/content/drive/MyDrive/arquivos/Acessos_TV_Assinatura.csv',sep=";")

In [ ]:
pd.set_option('display.max_columns',24)

In [ ]:
dfcobertura.groupby(['UF','Grupo Econômico']).count()

In [ ]:
dfcobertura.head(1)

,Ano,Mês,Grupo Econômico,Empresa,CNPJ,Porte da Prestadora,UF,Município,Código IBGE Município,Tecnologia,Meio de Acesso,Tipo de Pessoa,Acessos
0,2021,11,OI,OI,5423963000111,Grande Porte,MS,Vicentina,5008404,DTH,Satélite,Pessoa Física,30

In [ ]:
pd.unique(dfcobertura['Acessos'])

array([   30,    11,     2, ..., 69196, 37897, 46928])

**unique**
* Ano == [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012]
* Mês == [11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1, 12]
* Grupo Econômico == ok 
* Empresa == ok 
* CNPJ == OK  
* Porte da Prestadora == ['Grande Porte', 'Pequeno Porte']
* UF == ok 
* Município == tem ...
* Tecnologia == ok 
* Meio de Acesso == indeterminado 
* Tipo de Pessoa == não informado  e nan 
* Acessos == tem ...

# Cobertura todas

In [ ]:
dfmeutodas= pd.read_csv('/content/drive/MyDrive/arquivos/Cobertura_Todas.csv',sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
pd.set_option('display.max_columns',24)

In [ ]:
dfmeutodas.head(1)

,Ano,Operadora,Tecnologia,Código Setor Censitário,Bairro,Tipo Setor,Código Localidade,Nome Localidade,Categoria Localidade,Localidade Agregadora,Código Município,Município,UF,Região,Área (km2),Domicílios,Moradores,Percentual Cobertura
0,2021,Todas,3G,316550305000007,SARDOÁ (todos os setores),Rural,NaN,NaN,NaN,NaN,3165503,Sardoá,MG,Sudeste,"15,0636616619",74.0,295.0,"11,324"

In [ ]:
pd.unique(dfmeutodas['UF'])

array(['MG', 'SP', 'MS', 'AC', 'PI', 'MT', 'SE', 'DF', 'ES', 'RJ', 'RO',
       'AM', 'GO', 'PR', 'PE', 'AP', 'TO', 'RR', 'PB', 'CE', 'RS', 'AL',
       'PA', 'SC', 'RN', 'MA', 'BA'], dtype=object)

**unique**
* Ano == 2021 
* operadoras==Todas 
* Tecnologia == ['3G', '2G3G4G', '3G4G', '4G', '2G']
* Bairro == tem ...
* Tipo Setor == ['Rural', 'Urbano']
* Município	== tem ...
* UF == Ok
* regiao == ok

# Meu Municipio acesso

In [ ]:
dfmeuacesso= pd.read_csv('/content/drive/MyDrive/arquivos/Meu_Municipio_Acessos.csv',sep=";")

In [ ]:
pd.set_option('display.max_columns',24)

In [ ]:
dfmeuacesso.head(1)

,Ano,Mês,Acessos,Serviço,Densidade,Código IBGE,Município,UF,Nome UF,Região,Código Nacional
0,2021,6,5597,Telefonia Móvel,"73,114931636659",4118709,Paulo Frontin - PR,PR,Paraná,Sul,42

**unique**
* Ano == [2021, 2020, 2019]
* Mês == [ 6, 12]
* Serviço == ['Telefonia Móvel', 'Banda Larga Fixa', 'TV por Assinatura' 'Telefonia Fixa']
* Município == tem ...
* UF == ok 
* Nome UF == ok
* Região == ok

In [ ]:
pd.unique(dfmeuacesso['Código Nacional'])

array([42, 22, 74, 43, 77, 17, 69, 91, 62, 45, 75, 61, 33, 73, 32, 44, 11,
       41, 14, 94, 21, 18, 79, 46, 15, 49, 82, 13, 19, 71, 83, 64, 48, 24,
       34, 53, 81, 47, 68, 31, 38, 63, 54, 84, 93, 66, 88, 86, 95, 99, 55,
       51, 65, 96, 92, 97, 89, 98, 85, 67, 27, 16, 35, 37, 87, 28, 12])

# Acessos_Telefonia_Movel_202201-202106_Colunas.csv

In [99]:
dftm= pd.read_csv('/content/drive/MyDrive/arquivos/Acessos_Telefonia_Movel_202201-202206.csv',sep=';')

In [31]:
pd.set_option('display.max_columns',34)

In [101]:
dftm.to_json("AcessoTelefonia.json")

In [ ]:
dftm.isnull().count()

In [37]:
dftm.head(1)

,Ano,Mês,Grupo Econômico,Empresa,CNPJ,Porte da Prestadora,UF,Município,Código IBGE Município,Código Nacional,Código Nacional (Chip),Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Tipo de Pessoa,Tipo de Produto,Acessos
0,2022,3,OI,OI,5423963000111,Grande Porte,RN,Mossoró,2408003,84,67,Pós-pago,GSM,2G,Pessoa Jurídica,M2M,4

In [53]:
pd.unique(dftm['Acessos'])

array([     4,      1,     13, ..., 140477, 264101,  28800])

**unique**
* Ano == 2022
* mês == [3, 2, 1]
* grupo econômico == OI', 'TELECOM AMERICAS', 'OUTROS', 'TELECOM ITALIA','ALGAR (CTBC TELECOM)', 'TELEFÔNICA', 'SERCOMTEL/COPEL/HORIZONS','DATORA'],
* Empresa == ['OI', 'CLARO', 'SURF TELECOM SA', 'TIM', 'ALGAR (CTBC TELECOM)','VIVO', 'Ligue Telecomunicacoes Ltda', 'SERCOMTEL/COPEL/HORIZONS','DATORA', 'J. SAFRA TELECOMUNICACOES LTDA','Next Level Telecom Ltda.', 'AMERICA NET S.A.
* Porte da Prestadora == ['Grande Porte', 'Pequeno Porte']
* UF == 'RN', 'SP', 'MG', 'CE', 'RJ', 'ES', 'RO', 'BA', 'PA', 'PR', 'PI','PE', 'SC', 'MA', 'MS', 'PB', 'SE', 'TO', 'RS', 'MT', 'GO', 'AL','AP', 'AM', 'AC', 'RR', 'DF'
* Município == ['Mossoró', 'Itaquaquecetuba','Jacutinga', ..., 'Herveiras','Pindoba', 'Godoy Moreira']
* Modalidade de Cobrança == ['Pós-pago', 'Pré-pago']
* Tecnologia == ['GSM', 'LTE', 'WCDMA', 'NR', 'CDMA IS 95']
* Tecnologia Geração == ['2G', '4G', '3G', '5G-DSS']
* Tipo de Pessoa == PJ E PF 
* Tipo de Produto == ['M2M', 'VOZ+DADOS', 'DADOS', 'VOZ', 'PONTO_DE_SERVICO']
* Acessos == [     4,      1,     13, ..., 140477, 264101,  28800]

In [56]:
dftm.isnull().count()

Ano                       6289640
Mês                       6289640
Grupo Econômico           6289640
Empresa                   6289640
CNPJ                      6289640
Porte da Prestadora       6289640
UF                        6289640
Município                 6289640
Código IBGE Município     6289640
Código Nacional           6289640
Código Nacional (Chip)    6289640
Modalidade de Cobrança    6289640
Tecnologia                6289640
Tecnologia Geração        6289640
Tipo de Pessoa            6289640
Tipo de Produto           6289640
Acessos                   6289640
dtype: int64

In [55]:
dftm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6289640 entries, 0 to 6289639
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Ano                     int64
 1   Mês                     int64
 2   Grupo Econômico         object
 3   Empresa                 object
 4   CNPJ                    int64
 5   Porte da Prestadora     object
 6   UF                      object
 7   Município               object
 8   Código IBGE Município   int64
 9   Código Nacional         int64
 10  Código Nacional (Chip)  int64
 11  Modalidade de Cobrança  object
 12  Tecnologia              object
 13  Tecnologia Geração      object
 14  Tipo de Pessoa          object
 15  Tipo de Produto         object
 16  Acessos                 int64
dtypes: int64(7), object(10)
memory usage: 815.8+ MB

## spark

In [16]:
dftm_spark=(spark.read.format('csv')
                    .option('delimiter',';')
                    .option('header','true')
                    .load('/content/drive/MyDrive/arquivos/Acessos_Telefonia_Movel_202201-202206.csv')
    
)

In [21]:
dftm_spark.printSchema()

root
 |-- Ano: string (nullable = true)
 |-- Mês: string (nullable = true)
 |-- Grupo Econômico: string (nullable = true)
 |-- Empresa: string (nullable = true)
 |-- CNPJ: string (nullable = true)
 |-- Porte da Prestadora: string (nullable = true)
 |-- UF: string (nullable = true)
 |-- Município: string (nullable = true)
 |-- Código IBGE Município: string (nullable = true)
 |-- Código Nacional: string (nullable = true)
 |-- Código Nacional (Chip): string (nullable = true)
 |-- Modalidade de Cobrança: string (nullable = true)
 |-- Tecnologia: string (nullable = true)
 |-- Tecnologia Geração: string (nullable = true)
 |-- Tipo de Pessoa: string (nullable = true)
 |-- Tipo de Produto: string (nullable = true)
 |-- Acessos: string (nullable = true)

# Tabela colunas

In [83]:
dftcol= pd.read_csv('/content/drive/MyDrive/arquivos/tabelaColunas.csv',sep=',')

In [75]:
pd.set_option('display.max_columns',34)

In [85]:
dftcol.head(30)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0,Ano,Mês,Grupo Econômico,Empresa,CNPJ,Porte da Prestadora,UF,Município,Código IBGE Município,Faixa de Velocidade,Tecnologia,Meio de Acesso,Tipo de Pessoa,Acessos,NaN,NaN,NaN,NaN,NaN
1,1,Ano,Mês,Grupo Econômico,Empresa,CNPJ,Porte da Prestadora,UF,Município,Código IBGE Município,Tecnologia,Meio de Acesso,Tipo de Pessoa,Acessos,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Ano,Operadora,Tecnologia,Código Setor Censitário,Bairro,Tipo Setor,Código Localidade,Nome Localidade,Categoria Localidade,Localidade Agregadora,Código Município,Município,UF,Região,Área (km2),Domicílios,Moradores,Percentual Cobertura,NaN
3,3,Ano,Mês,Acessos,Serviço,Densidade,Código IBGE,Município,UF,Nome UF,Região,Código Nacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Operadora,Tecnologia Cobertura,Moradores Cobertos,Domicílios Cobertos,Área km2 Coberta,Moradores Município,Domicílios Município,Área Município km2,Ano,Código IBGE,Município,UF,Nome UF,Região,Código Nacional,NaN,NaN,NaN,NaN
5,5,Ano,Mês,razao_social,cnpj,velocidade_contratada_mbps,uf,municipio,codigo_ibge,acessos,tipo,municipio_uf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,Tipo de Produto,Código IBGE Município,Grupo Econômico,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
7,7,Ano,Mês,Grupo Econômico,Empresa,CNPJ,Porte da Prestadora,UF,Município,Código IBGE Município,Código Nacional,Código Nacional (Chip),Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Tipo de Pessoa,Tipo de Produto,Acessos,NaN,NaN
8,8,CNPJ,Código Nacional,Município,UF,Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Empresa,Porte da Prestadora,Tipo de Pessoa,Tipo de Produto,Código IBGE Município,Grupo Econômico,2022-01,2022-02,2022-03,NaN,NaN,NaN
9,9,Ano,Mês,Grupo Econômico,Empresa,CNPJ,Porte da Prestadora,UF,Município,Código IBGE Município,Código Nacional,Código Nacional (Chip),Modalidade de Cobrança,Tecnologia,Tecnologia Geração,Tipo de Pessoa,Tipo de Produto,Acessos,NaN,NaN
10,10,Ano,Mês,Modalidade de Cobrança,Acessos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Ano,Mês,Acessos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Ano,Mês,UF,Município,Código IBGE,Densidade,Nível Geográfico Densidade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## spark

In [81]:
dftcol_spark=(spark.read.format('csv')
                    .option('delimiter',',')
                    .option('header','true')
                    .load('/content/drive/MyDrive/arquivos/tabelaColunas.csv')
    
)

In [82]:
dftcol_spark.show()

+---+---------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+---------------+---------------+---------+--------------------+-------+
|_c0|        0|                   1|                   2|                   3|                   4|                  5|                   6|                 7|                   8|                   9|                  10|                  11|             12|                13|             14|             15|       16|                  17|     18|
+---+---------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+---------------+---------------+---------+--------------------+-------+
|  0|      Ano|                 Mês|     Grupo Econômico|             Empresa|                CNPJ|Porte da Prestadora|                  UF|         Município|Código IBGE Munic...| Faixa de Velocidade|          Tecnologia|      Meio de Acesso| Tipo de Pessoa|           Acessos|           null|           null|     null|                null|   null|
|  1|      Ano|                 Mês|     Grupo Econômico|             Empresa|                CNPJ|Porte da Prestadora|                  UF|         Município|Código IBGE Munic...|          Tecnologia|      Meio de Acesso|      Tipo de Pessoa|        Acessos|              null|           null|           null|     null|                null|   null|
|  2|      Ano|           Operadora|          Tecnologia|Código Setor Cens...|              Bairro|         Tipo Setor|   Código Localidade|   Nome Localidade|Categoria Localidade|Localidade Agrega...|    Código Município|           Município|             UF|            Região|     Área (km2)|     Domicílios|Moradores|Percentual Cobertura|   null|
|  3|      Ano|                 Mês|             Acessos|             Serviço|           Densidade|        Código IBGE|           Município|                UF|             Nome UF|              Região|     Código Nacional|                null|           null|              null|           null|           null|     null|                null|   null|
|  4|Operadora|Tecnologia Cobertura|  Moradores Cobertos| Domicílios Cobertos|    Área km2 Coberta|Moradores Município|Domicílios Município|Área Município km2|                 Ano|         Código IBGE|           Município|                  UF|        Nome UF|            Região|Código Nacional|           null|     null|                null|   null|
|  5|      Ano|                 Mês|        razao_social|                cnpj|velocidade_contra...|                 uf|           municipio|       codigo_ibge|             acessos|                tipo|        municipio_uf|                null|           null|              null|           null|           null|     null|                null|   null|
|  6|     CNPJ|     Código Nacional|           Município|                  UF|Modalidade de Cob...|         Tecnologia|  Tecnologia Geração|           Empresa| Porte da Prestadora|      Tipo de Pessoa|     Tipo de Produto|Código IBGE Munic...|Grupo Econômico|           2021-07|        2021-08|        2021-09|  2021-10|             2021-11|2021-12|
|  7|      Ano|                 Mês|     Grupo Econômico|             Empresa|                CNPJ|Porte da Prestadora|                  UF|         Município|Código IBGE Munic...|     Código Nacional|Código Nacional (...|Modalidade de Cob...|     Tecnologia|Tecnologia Geração| Tipo de Pessoa|Tipo de Produto|  Acessos|                null|   null|
|  8|     CNPJ|     Código Nacional|           Município|                  UF|Modalidade de Cob...|         Tecnologia|  Tecnologia Geração|           Empresa| Porte da Prestadora|      Tipo de Pessoa|     Tipo de Produto|Código IBGE Munic...|Grupo Econômico|           2022-01|        2022-02|        2022-03|     null|                null|   null|
|  9|      Ano|                 Mês|     Grupo Econômico|             Empresa|                CNPJ|Porte da Prestadora|                  UF|         Município|Código IBGE Munic...|     Código Nacional|Código Nacional (...|Modalidade de Cob...|     Tecnologia|Tecnologia Geração| Tipo de Pessoa|Tipo de Produto|  Acessos|                null|   null|
| 10|      Ano|                 Mês|Modalidade de Cob...|             Acessos|                null|               null|                null|              null|                null|                null|                null|                null|           null|              null|           null|           null|     null|                null|   null|
| 11|      Ano|                 Mês|             Acessos|                null|                null|               null|                null|              null|                null|                null|                null|                null|           null|              null|           null|           null|     null|                null|   null|
| 12|      Ano|                 Mês|                  UF|           Município|         Código IBGE|          Densidade|Nível Geográfico ...|              null|                null|                null|                null|                null|           null|              null|           null|           null|     null|                null|   null|
+---+---------+--------------------+--------------------+--------------------+--------------------+-------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+---------------+------------------+---------------+---------------+---------+--------------------+-------+

In [ ]:
df[df.isna().any(axis=1)]